[submodule "pachca"]
	path = plugins/pachca
	url = git@github.com:k1nky/tookhook-plugin-pachca.git
[submodule "telegram"]
	path = plugins/telegram
	url = git@github.com:k1nky/tookhook-plugin-telegram.git
